
@import "scrollnice";
@import "tooltip";

@font-face {
  font-family: Alegreya;
  src: url("./fonts/AlegreyaSans-Regular.woff2");
}

@font-face {
  font-family: Lato;
  src: url("./fonts/Lato-Regular.woff2");
}

.wh100 {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.p-rel {
  position: relative;
}

html {
  @extend .wh100;
}

body {
  @extend .wh100;
  font-family: Alegreya;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

$issue-width: 3.5in;
$comfy-margin: 4px;
$issue-sidespace: 2.5px;

.issue-style {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(218, 221, 227);
  box-shadow: 2px 2px 2px rgb(218, 221, 227);
  border-radius: 2.5px;

  padding: 4px;
}

.issue-pos {
  width: 3.5in;
  min-height: 0.1in;
  margin: 10px $issue-sidespace;
}

.issue {
  @extend .issue-style;
  @extend .issue-pos;
}

.issue-h4-pos {
  width: 100%;
  margin: $comfy-margin;
}

.issue-h4-style {
  font-size: 16px;
}

.issue-h4 {
  @extend .issue-h4-pos;
  @extend .issue-h4-style;
}

.issue-name {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-weight: 600;
}

.issue-number {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  font-weight: 300;
  color: rgb(70, 77, 86);

  // push the issue name away
  margin-right: $comfy-margin;
}

$user-icon-size: 24px;

.user-icon-pos {
  width: $user-icon-size;
  height: $user-icon-size;
  float: right;

  // this is a hacky thing to prevent the image for going into margin space
  margin-right: $comfy-margin * 2;
  margin-left: $comfy-margin * 2;
}

.user-icon-style {
  border-radius: 2.5px;
}

.user-icon {
  @extend .user-icon-pos;
  @extend .user-icon-style;
}

.user-icon-tooltip-pos {
  @extend .tooltip;

  right: $user-icon-size + $comfy-margin * 2;
  top: -1.5px;
}

.user-icon-tooltip-style {
  background-color: #111111bb;
  color: white;
  font-size: 12pt;
  padding: $comfy-margin $comfy-margin * 2.5;
  border-radius: 1px;
}

.user-icon-tooltip {
  @extend .user-icon-tooltip-pos;
  @extend .user-icon-tooltip-style;
}

.label-pos {
  display: inline-block;
}

.label-style {
  margin: $comfy-margin;
  padding: 1px 6px;
  font-size: 12pt;
  border-radius: 2px;
  box-shadow: 2px 2px 2px gray;
}

.label {
  @extend .label-pos;
  @extend .label-style;
}

.bin-header-pos {
  // this is weird hackyness
  width: $issue-width - ($comfy-margin * 2);
  padding: $comfy-margin;
  margin: $comfy-margin;
  position: relative;
  left: $comfy-margin;
}

.bin-header-style {
  font-size: 21px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 2px 2px 2px gray;
}

.bin-header {
  @extend .bin-header-pos;
  @extend .bin-header-style;
}

.label-list {
  margin: $comfy-margin;
}

.issue-bin-pos {
  margin: 6px;
  padding: 6px;
  height: calc(100% - 2rem);
  overflow-y: scroll;
  display: inline-block;
  vertical-align: top;

  // undo the nowrap done by .issue-bin
  white-space: normal;
}

$issue-bin-background-color: rgb(230, 231, 236);

.issue-bin-style {
  background-color: $issue-bin-background-color;
  border-radius: 5px;

  @include scrollnice();
}

.issue-bin {
  @extend .issue-bin-pos;
  @extend .issue-bin-style;
}

.issue-grid-pos {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  position: absolute;
  top:    0;
  bottom: 0;
  left:   0;
  right:  0;

  margin: 0;
  padding: 0;
}

.issue-grid-style {
  background-color: rgb(245, 245, 245);
  @include scrollnice();
}

.issue-grid {
  @extend .issue-grid-pos;
  @extend .issue-grid-style;
}

$page-header-height: 0.4in;
$page-header-padding: 10px;

.grid-box {
  width: 100%;
  height: calc(100% - #{$page-header-height + $page-header-padding * 2});
  margin: 0;
  padding: 0;
  position: relative;
}

.header-box-pos {
  height: $page-header-height;
  margin: 0;
}

.header-box-style {
  background-color: #2c3e50;
  padding: $page-header-padding 0.5in;
}

.header-box {
  @extend .header-box-pos;
  @extend .header-box-style;
}

.repo-name {
  font-size: 24pt;
  color: #eeeeee;
}

.profile-select {
  font-size: 18pt;
  color: #eeeeee;
  background-color: #2c3e50;
  border: 2px solid #eeeeee;
  appearance: none;
  float: right;

  min-width: 2.5in;
}

.profile-select::-ms-expand {
  display: none;
}

.profile-select:focus {
  outline: none;
}

.revalidate-button {
  height: 35px;
  font-size: 14pt;
  //color: black;
  //background-color: rgb(255, 255, 255);
  color: black;
  background-color: #c1c7c8;
  border-color: #c1c7c8;
  border-width: 2px;
  border-radius: 5px;
  appearance: none;
  padding: $comfy-margin 1em;
  margin: 0 0.5in;
  float: right;
  box-shadow: 4px 4px 3px transparentize(black, 0.5);
  text-shadow: 1.5px 1.5px 1.5px transparentize(black, 0.8);
}

.revalidate-button:focus {
  outline: none;
}

$revalidate-glow-radius: 1in;
$revalidate-glow-color: transparentize(#e74c3c, 0.3);

.revalidate-button-red {
  background-color: #c0392b !important;
  box-shadow:
          0px 0px $revalidate-glow-radius $revalidate-glow-color,
          0px 0px $revalidate-glow-radius $revalidate-glow-color,
          0px 0px $revalidate-glow-radius $revalidate-glow-color !important;
}